<blockquote>
  <a href="{{ site.data.t[page.lang].index.notice.url }}">
    {{ site.data.t[page.lang].index.notice.text }}
  </a>
</blockquote>
<div>
  <div class="divider"></div>
  <ul class="listing main-listing">
    <li class="listing-seperator">{{ site.data.t[page.lang].index.archive.recent }}</li>
    {% for post in site.posts limit: 5 %}
      {% include postitem.html post=post %}
    {% endfor %}
    <li class="listing-seperator"><a href="{{ site.data.t[page.lang].index.archive.oldlink }}">{{ site.data.t[page.lang].index.archive.oldtext }}</a></li>
  </ul>
  <ul class="listing main-listing">
    <li class="listing-seperator">{{ site.data.t[page.lang].index.questions.recent }}</li>
    {% assign sorted = (site.questions | where: 'lang', page.lang | sort: 'date') | reverse %}
    {% for question in sorted limit: 2 %}
      {% include questioncard.html question=question %}
    {% endfor %}
    <li class="listing-seperator"><a href="{{ site.data.t[page.lang].index.questions.oldlink }}">{{ site.data.t[page.lang].index.questions.oldtext }}</a></li>
  </ul>
  <div class="container">
    <div class="row">
    {% assign projects = site.data.projects | where: "lang", page.lang %}
    {% for project in projects limit: 3 %}
      {% if project.lang == page.lang %}
        {% include projectitem.html project=project %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <ul class="listing main-listing">
    <li class="listing-seperator"><a href="{{ site.data.t[page.lang].index.projects.oldlink }}">{{ site.data.t[page.lang].index.projects.oldtext }}</a></li>
  </ul>
</div>
