{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% assign questions=site.questions | where:"ref", page.ref | sort: 'lang' %}
{% assign tt = posts.size | plus: pages.size | plus: questions.size %}

<span>|</span>
{% if tt > 1 %}
    {% for post in posts %}
    <span>
        <a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}

    {% for page in pages %}
    <span>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}

    {% for question in questions %}
    <span>
        <a href="{{ question.url }}" class="{{ question.lang }}">{{ site.data.t[question.lang].langname }}</a>
    </span>
    {% endfor %}
{% else %}
    {% assign indexpages=site.pages | where:"ref", "index" | sort: 'lang' %}
    {% for page in indexpages %}
    <span>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}
{% endif %}
