{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% assign tt = posts.size | plus: pages.size %}

<span>|</span>
{% if paginator %}
    {% comment %} hack {% endcomment %}
    {% assign url = 'questions' %}
    {% assign langs = "en|zh" | split: "|" %}
    {% for lang in langs %}
    <span>
      {% if lang=='zh' %}
        <a href="/{{ url }}" class="{{ lang }}">{{ site.data.t[lang].langname }}</a>
      {% else %}
        <a href="/{{ url }}-{{lang}}" class="{{ lang }}">{{ site.data.t[lang].langname }}</a>
      {% endif %}
    </span>
    {% endfor %}
{% elsif tt > 1 %}
    {% for post in posts %}
    <span>
        <a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}

    {% for page in pages %}
    <span>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}
{% else %}
    {% assign indexpages=site.pages | where:"ref", "index" | sort: 'lang' %}
    {% for page in indexpages %}
    <span>
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.t[page.lang].langname }}</a>
    </span>
    {% endfor %}
{% endif %}
