<li class="listing-item">
  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  {% assign tags = post.tags | first %}
  {% for tag in tags %}
    <a class="item-tag" href="tags.html#{{ tag }}" title="{{ tag }}"{% if post.lang != page.lang %} lang="{{ post.lang }}"{% endif %}>[{{ tag }}]</a>
  {% endfor %}
  <a class="item-title" href="{{ post.url }}" title="{{ post.title }}"{% if post.lang != page.lang %} lang="{{ post.lang }}"{% endif %}>{{ post.title }}</a>
  {% if site.data.t[page.lang].postlanguagetip[post.lang] %}
  <span class='language'>{{ site.data.t[page.lang].postlanguagetip[post.lang] }}</span>
  {% endif %}
</li>

