{% capture more %}
  <a href="{{ question.url }}" title="{{ question.title }}" {% if question.lang != page.lang %} lang="{{ question.lang }}"{% endif %}>{{site.data.t[page.lang].question.more}} <i class="fa fa-arrow-circle-o-right"></i></a>
  {% if site.data.t[page.lang].postlanguagetip[question.lang] %}<span class='language'>{{ site.data.t[page.lang].postlanguagetip[question.lang] }}</span> {% endif %}
{% endcapture %}
{% if question.content contains '<!--more-->' %}
  {{ question.content | split:'<!--more-->' | first }}
  {{ more }}
{% elsif question.showall %}
  {{question.content}}
{% else %}
  {{ more }}
{% endif %}
