html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a {
  color: #777;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;
  color: #063467;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#4fd4ff), to(#0862bb));
  background: -webkit-radial-gradient(#4fd4ff, #0862bb);
  background: -moz-radial-gradient(#4fd4ff, #0862bb);
  background: -ms-radial-gradient(#4fd4ff, #0862bb);
  background: -o-radial-gradient(#4fd4ff, #0862bb);
  background: radial-gradient(#4fd4ff, #0862bb);
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
a:hover,
a:focus,
a:target {
  background: rgba(255, 255, 255, 0.7);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
  color: #222;
}
nav {
  z-index: 100;
  position: fixed;
  width: 100px;
  height: 100%;
  padding-top: 50px;
}
nav > .me {
  display: block;
  border: 3px solid white;
  max-width: 90%;
  height: 150px;
  margin: 25px 7px;
}
nav a {
  font-size: 26px;
  display: block;
  width: 250px;
  margin-left: -200px;
  color: #EEEEEE;
  padding: 25px 10px;
  text-align: right;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
}
nav i {
  padding-left: 32px;
  padding-right: 16px;
}
nav :hover {
  margin-left: 0px;
}
nav #next {
  clear: both;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h1,
h2,
nav a:first-child {
  text-transform: uppercase;
}
.step#name {
  width: 800px;
}
.step#name h2 {
  text-transform: lowercase;
}
nav #contact-nav,
nav #print {
  margin-top: 30px;
  width: 50%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.step#work-experience img {
  width: initial;
}
.step.hidepast {
  opacity: 0;
}
.step {
  width: 1058px;
  margin: 20px auto;
  font-size: 28px;
  line-height: 1.7;
  margin: 0;
  opacity: 0.1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.step h1 {
  letter-spacing: 20px;
  font-weight: bold;
  text-align: right;
  font-size: 48px;
}
.step h2 {
  margin-top: 20px;
  font-size: 48px;
}
.step h2 i {
  margin-right: 10px;
}
.step h3 {
  text-align: right;
}
.step ul {
  margin-left: 40px;
}
.step strong {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}
.step code {
  font-weight: bold;
}
.step img {
  width: 100%;
}
.step.active {
  opacity: 1;
}
#languages li,
#web li,
#cms li,
#game li {
  list-style: circle;
}
#education li {
  text-indent: -15px;
}
#education li span {
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 10px;
}
#languages li span,
#web li span,
#cms li span,
#game li span {
  display: inline-block;
  position: absolute;
  left: 250px;
  background-color: black;
  margin-top: 8px;
  height: 25px;
  width: 0;
  opacity: 0;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.step#game li span {
  left: 380px;
}
#languages.active li span,
#web.active li span,
#cms.active li span,
#game.active li span {
  opacity: 0.7;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.active #cpp {
  width: 150px;
}
.active #java {
  width: 250px;
}
.active #php {
  width: 100px;
}
.active #javascript {
  width: 250px;
}
.active #sql {
  width: 150px;
}
.active #html {
  width: 250px;
}
.active #css {
  width: 200px;
}
.active #jquery {
  width: 150px;
}
.active #nodejs {
  width: 50px;
}
.active #sass {
  width: 100px;
}
.active #wordpress {
  width: 250px;
}
.active #drupal {
  width: 100px;
}
.active #joomla {
  width: 100px;
}
.active #udk {
  width: 100px;
}
.active #unity {
  width: 150px;
}
.active #leveldesign {
  width: 100px;
}
.thumb {
  height: 36px;
  margin-left: 15px;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: darkgrey 0px 0px 0px;
  -moz-box-shadow: darkgrey 0px 0px 0px;
  box-shadow: darkgrey 0px 0px 0px;
}
a:hover .thumb {
  -webkit-transform: scale(5) translate(30px, -10px);
  -moz-transform: scale(5) translate(30px, -10px);
  -ms-transform: scale(5) translate(30px, -10px);
  -o-transform: scale(5) translate(30px, -10px);
  transform: scale(5) translate(30px, -10px);
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-box-shadow: darkgrey 2px 2px 7px;
  -moz-box-shadow: darkgrey 2px 2px 7px;
  box-shadow: darkgrey 2px 2px 7px;
}
#overview {
  display: none;
}
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
.hint {
  display: none;
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 100px;
  width: 700px;
  margin-left: -350px;
  background: rgba(0, 0, 0, 0.5);
  color: #EEE;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
  -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
  -o-transition: opacity 1s, -o-transform 0.5s 1s;
  transition: opacity 1s, transform 0.5s 1s;
}
.impress-enabled {
  pointer-events: none;
}
.impress-enabled .hint {
  display: block;
}
.impress-on-name .hint {
  opacity: 0.6;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition: opacity 1s 5s, -moz-transform 0.5s 4.5s;
  -ms-transition: opacity 1s 5s, -ms-transform 0.5s 4.5s;
  -o-transition: opacity 1s 5s, -o-transform 0.5s 4.5s;
  transition: opacity 1s 5s, transform 0.5s 4.5s;
}
.impress-enabled #impress,
nav {
  pointer-events: auto;
}
.fallback-message {
  right: 50px;
  bottom: 50px;
  width: 500px;
  font-family: sans-serif;
  padding: 10px 10px 5px;
  margin: 50px auto;
  color: #EEE;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -webkit-transition-delay: 5s;
  -moz-transition: opacity 1s 5s;
  -o-transition: opacity 1s 5s;
  transition: opacity 1s 5s;
}
.fallback-message p {
  margin-bottom: 10px;
}
.impress-supported .fallback-message {
  display: none;
}
.impress-not-supported * {
  opacity: 1;
  max-width: 100%;
}
.impress-not-supported #impress {
  width: 960px;
  margin: 50px auto;
}
.impress-not-supported nav {
  opacity: 0;
  top: 0;
  width: 100% !important;
  height: auto !important;
  overflow: auto !important;
  padding: 0 !important;
}
.impress-not-supported nav a {
  float: left !important;
  padding: 10px !important;
  font-size: 16px;
}
.impress-not-supported nav #next {
  display: none !important;
}
.impress-not-supported .step {
  display: table;
  width: 100%;
  margin: 0 30px 30px;
  margin-bottom: 30px;
  font-size: 24px;
}
.impress-not-supported .step > h1 {
  display: table-header-group;
}
.impress-not-supported .step > h2 {
  display: table-row-group;
}
.impress-not-supported .step > ul {
  display: table-footer-group;
}
.impress-not-supported .step h2 {
  font-size: 36px;
}
.impress-not-supported nav #contact-nav,
.impress-not-supported nav #print {
  width: auto !important;
  margin-top: 0 !important;
}
.impress-not-supported #languages li span,
.impress-not-supported #web li span,
.impress-not-supported #cms li span,
.impress-not-supported #game li span {
  opacity: 1;
  position: static;
  float: right;
  letter-spacing: 20px;
  width: auto;
}
#skillmap .skills-wrapper {
  margin-top: 10px;
  overflow: auto;
}
#skillmap .skills-sunburst {
  float: left;
  width: 580px;
  margin-left: -80px;
}
#skillmap .skills-sunburst svg {
  font: 11px 'Source Sans Pro', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 80px 20px 0 0;
}
#skillmap .skills-chart .breadcumb-text {
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.hint p.mouse {
  background: url('../arrow.png') 30px 30px no-repeat;
  display: inline;
  padding: 20px 40px 20px 150px;
}
.navegate {
  background: url('../navegate.png') no-repeat;
  width: 300px;
  height: 91px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  transform: translateY(-400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
  -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
  -o-transition: opacity 1s, -o-transform 0.5s 1s;
  transition: opacity 1s, transform 0.5s 1s;
}
.navegate .doodle-nav {
  display: block;
  margin-right: 25px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  font-size: 40px;
  float: right;
  margin-top: 5px;
}
.menu {
  text-align: right;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  padding: 90px 0px 0px 0px;
}
.menu a {
  text-decoration: none;
  padding: 0 0.1em;
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.menu ul li {
  position: relative;
  opacity: 0.5;
  right: 130px;
  font-size: 20px;
  background: #323639;
  margin: 10px 0;
  padding: 8px 12px 8px 8px;
  vertical-align: middle;
  display: block;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.menu ul li a {
  color: white;
  display: block;
  position: relative;
  top: -5px;
  left: -5px;
}
.menu ul li i {
  font-size: 32px;
  position: relative;
  top: 5px;
  left: 10px;
}
.menu ul li:hover {
  opacity: 1;
  right: 0;
  background: #F85D5D;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.step video {
  width: 100%;
}
