<!DOCTYPE html>
<html lang="{{page.lang}}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.data.t[page.lang].author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.data.t[page.lang].title }}</title>
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
      <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
    {% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
      <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
    {% endfor %}
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="/atom.xml" rel="alternate" title="{{ site.data.t[page.lang].title }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/3rd/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/3rd/pygments/github.css">
  </head>
  <body>
    <div id="main" role="main">
      <header>
        <div id="header">
          <h1>
            <a title="{{ site.data.t[page.lang].title }}" class="" href="{{ site.data.t[page.lang].titlehref }}">{{ site.data.t[page.lang].title }}</a>
            <p class="description">{{ site.data.t[page.lang].description }}</p>
          </h1>
        </div>
        <nav>
          {% assign navs = site.data.t[page.lang].navigations | where_exp:"item", "item.other == undefined" %}
          {% assign othernavs = site.data.t[page.lang].navigations | where: "other", true %}
          {% for nav in navs %}{% assign http = nav.href | slice: 0, 4 %}
            <span{% if page.url == nav.href %} class="active"{% endif %}><a title="{{ nav.title }}" href="{{ nav.href }}"{% if http == "http" %} target="_blank"{% endif %}><i class="fa fa-{{ nav.icon }}"></i></a></span>
          {% endfor %}
          <span id="nav-other">
            <i class="fa fa-external-link"></i>
            <ul class="dropdown">
            {% for nav in othernavs %}
              <li><a href="{{ nav.href }}"{% if nav.target %} target="{{nav.target}}"{% endif %}><i class="fa fa-fw fa-{{nav.icon}}"></i> {{nav.title}}</a></li>
            {% endfor %}
            </ul>
          </span>
          {% include navlang.html %}
        </nav>
      </header>
      <div id="content">
      {{ content }}
      </div>
      <footer>
        <div>
          {% assign first_post = site.posts | last %}
          &copy; {{ first_post.date | date: "%Y" }} ~ {{ site.time | date: "%Y" }} {{ site.data.t[page.lang].author }} | {{ site.data.t[page.lang].footer.poweredby }} jekyll | {{ site.data.t[page.lang].footer.themedby }} <a href="http://lhzhang.com" title="sext vi">sext vi</a>
        </div>
      </footer>
    </div> <!-- main -->
    <div style="display:none;">
      <script language="javascript" type="text/javascript" src="http://js.users.51.la/17278963.js"></script>
      <script language="javascript" type="text/javascript" src="https://s22.cnzz.com/z_stat.php?id=1273658393&amp;web_id=1273658393"></script>
    </div>
  </body>
</html>
