---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  {% assign year = page.date | date:"%Y" | times: 1 %}
  {% if site.oldarticlenotice and year < site.oldarticlenotice.formeryear %}
  <section class="notice">
    <blockquote>
      <p><em>老文章预警：该文写于作者{{ year | minus: site.oldarticlenotice.birthyear }}岁，里面提到的东西可能会过于幼稚或已经过时，请注意分辨。</em></p>
    </blockquote>
  </section>
  {% endif %}
  <section class="post">
  {{ content }}
  </section>
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
</article>
